page-home {
    font-family: 'Source Code Pro';
    position: absolute;
    bottom: 0;

    .content{
        background-image: url('../../assets/imgs/bg.jpg');background-size: cover;
    }

    .header{
        padding-top: 10%;
    }

    .login_button{
        color: white;
    }
}
