@import '../theme/variables.scss';

.header {
    font-family: 'Source Code Pro';
}

.app {
    font-family: 'Source Code Pro';
}

.backgroud-purple {
    //background-color: #3d112c;
    background-color: #eeeeee;
}


.toolbar-background {
    background-color: #eeeeee;
  }

ion-header ion-icon.back-button-icon.icon {
    //color: white;
    color: black;
}


.form{
    background-color: rgba(0,0,0,0);
    text-align: left;
    //color: white;
    color: rgb(34, 34, 34);
}

.text-title{
    background-color: rgba(0,0,0,0);
    text-align: center;
    // color: white;
    color: rgb(34, 34, 34);
    font-size: 25px;
}
.text-notice{
    background-color: rgba(0,0,0,0);
    text-align: center;
    //color: white;
    font-size: 10px;
    color: rgb(34, 34, 34);
}
.rigth-button{
    margin-left: auto;
}

